@import "./variables";
@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $white;
  font-size: $font-size;
  font-family: $font-family;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  flex-grow: 1;
}
